<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <link rel="vrin unamba" sizes="75x75" href="/assets/a_home_otros/logo_vrin.png">
        <link rel="icon" type="image/png" href="/assets/a_home_otros/logo_vrin.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
        <title>{{ titulo_pagina ?? site:name }}</title>

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        
        <!-- Additional CSS vrinstyle -->
        <link rel="stylesheet" href="vrinstyle/css/material-kit.css">
        <link rel="stylesheet" href="vrinstyle/css/estado.css">

        {{header:header_extra}}

    </head>
    {{navbar:template_navbar}}
    <body class="index-page sidebar-collapse">
        <div class="page-header header-filter " data-parallax="true" style="background-image: url('./assets/a_home_otros/bg4.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <div class="brand">
                            <h1 class="title">{{texto_bienvenida}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="main main-raised">
            <div class="container"><br>
                {{ template_content }}
            </div>
        </div>
        <!-- Inicio Modal Incubadora de Empresas-->
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <b class="modal-title h3" id="exampleModalScrollableTitle">Funciones de Dirección de Incubadora de Empresas</b>
                    </div>
                    <div class="modal-body">
                        <div id="global_modal">
                            <div id="mensajess">
                                <p class="h4">a) Proponer al Vicerrectorado de Investigación las políticas, reglamentos y/o normas de funcionamiento de los Institutos de Investigación.</p>
                                <p class="h4">b) Ejecutar proyectos de investigación en base a las líneas establecidas por el Vicerrectorado de Investigación.</p>
                                <p class="h4">c) Organizar actividades de difusión del conocimiento y los resultados de las investigaciones.</p>
                                <p class="h4">d) Promover y gestionar la generación de conocimientos.</p>
                                <p class="h4">e) Gestionar la participación en fondos de investigación.</p>
                                <p class="h4">f) Promover entre los miembros de la comunidad universitaria el desarrollo de trabajos de investigación para ser publicados.</p>
                                <p class="h4">g) Administrar un registro de las publicaciones oficiales realizadas por la universidad.</p>
                                <p class="h4">h) Otras funciones que le asigne el Vicerrectorado de Investigación.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        {{# Fin Modal Incubadora de Empresas #}}
        {{# Inicio Modal Innovacion y Transferencia Tecnológica #}}
        <div class="modal fade" id="exampleModalScrollable1" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <b class="modal-title h3" id="exampleModalScrollableTitle">Funciones de la Dirección de Innovación y Transferencia Tecnológica</b>
                    </div>
                    <div class="modal-body">
                        <div id="global_modal">
                            <div id="mensajess">
                                <p class="h4">a) Diseñar y proponer al Vicerrectorado de Investigación las normas, reglamentos y directivas para el cumplimiento de los objetivos del Sistema Nacional de Ciencia, Tecnología e Innovación.</p>
                                <p class="h4">b) Promover la producción intelectual y cultural generada en el proceso de innovación y transferencia tecnológica.</p>
                                <p class="h4">c) Generar capacidades para la innovación y transferencia tecnológica; orientadas a la atención de las necesidades y oportunidades del sector productivo de la región y del país.</p>
                                <p class="h4">d) Prestar a todo el personal de la Universidad, servicios relacionados con la propiedad intelectual.</p>
                                <p class="h4">e) Gestionar y administrar el software de similitud de la UNAMBA.</p>
                                <p class="h4">f) Gestionar y administrar el banco del acceso a las revistas y libros de investigación.</p>
                                <p class="h4">g) Monitorear al repositorio Institucional.</p>
                                <p class="h4">h) Sistematizar la información transferible generada por las unidades de investigación y promover su difusión.</p>
                                <p class="h4">i) Otras funciones que le asigne el Vicerrectorado de Investigación.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        {{# Fin Modal Innovacion y Transferencia Tecnológica #}}
        {{# Inicio Modal Produccion Bienes y Servicios #}}
        <div class="modal fade" id="exampleModalScrollable2" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <b class="modal-title h3" id="exampleModalScrollableTitle">Funciones Dirección de Producción de Bienes y Servicios</b>
                    </div>
                    <div class="modal-body">
                        <div id="global_modal">
                            <div id="mensajess">
                                <p class="h4">b) Gestionar el desarrollo de los Centros Experimentales de la universidad vinculados con la actividad agropecuaria de la región.</p>
                                <p class="h4">c) Proponer y recomendar al Vicerrectorado de Investigación alianzas estratégicas con Instituciones públicas y privadas, nacionales y extranjeras, para la producción de bienes y servicios que generen recursos económicos.</p>
                                <p class="h4">d) Planificar, organizar y ejecutar acciones de asesoramiento y asistencia técnica para generar recursos.</p>
                                <p class="h4">e) Coordinar acciones conjuntas con los docentes, a fin de desarrollar programas de producción.</p>
                                <p class="h4">f) Proponer al Vicerrectorado de Investigación las políticas, reglamentos y/o normas de funcionamiento de la Dirección de Producción de Bienes y Servicios.</p>
                                <p class="h4">g) Promover la capacitación y especialización docentes y de estudiantes de la Facultad para dirigir las labores de asesoramiento y consultoría profesional.</p>
                                <p class="h4">h) Proponer proyectos de investigación orientados a la producción de bienes y servicios rentables, que puedan ejecutarse con criterios empresariales a nivel de la UNAMBA en coordinación con el Vicerrectorado de Investigación.</p>
                                <p class="h4">i) Proponer la creación de Centros de Producción de Bienes y Servicios.</p>
                                <p class="h4">j) Elaborar y presentar al Vicerrectorado de Investigación la información de la Dirección, parala Memoria Anual.</p>
                                <p class="h4">k) Otras funciones que le asigne el Vicerrectorado de Investigación en el ámbito de su competencia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        {{# Fin Modal Produccion Bienes y Servicios #}}
        {{# Inicio Modal Institutos de Investigacion #}}
        <div class="modal fade" id="exampleModalScrollable3" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <b class="modal-title h3" id="exampleModalScrollableTitle">Funciones Dirección de Instituto de Investigación</b>
                    </div>
                    <div class="modal-body">
                        <div id="global_modal">
                            <div id="mensajess">
                                <p class="h4">a) Proponer al Vicerrectorado de Investigación las políticas, reglamentos y/o normas de funcionamiento de los Institutos de Investigación.</p>
                                <p class="h4">b) Ejecutar proyectos de investigación en base a las líneas establecidas por el Vicerrectorado de Investigación.</p>
                                <p class="h4">c) Organizar actividades de difusión del conocimiento y los resultados de las investigaciones.</p>
                                <p class="h4">d) Promover y gestionar la generación de conocimientos.</p>
                                <p class="h4">e) Gestionar la participación en fondos de investigación.</p>
                                <p class="h4">f) Promover entre los miembros de la comunidad universitaria el desarrollo de trabajos de investigación para ser publicados.</p>
                                <p class="h4">g) Administrar un registro de las publicaciones oficiales realizadas por la universidad.</p>
                                <p class="h4">h) Otras funciones que le asigne el Vicerrectorado de Investigación.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        {{# Fin Modal Institutos de Investigacion #}}
        {{footer:footer_template}}

        <!-- core JavaScript -->
        <script src="/vrinstyle/js/core/jquery.min.js" type="text/javascript"></script>
        <script src="/vrinstyle/js/core/popper.min.js" type="text/javascript"></script>
        <script src="/vrinstyle/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
        <script src="/vrinstyle/js/plugins/moment.min.js"></script>
        <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
        <script src="/vrinstyle/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
        <script src="/vrinstyle/js/plugins/nouislider.min.js"  type="text/javascript"></script>
        <!--  Google Maps Plugin    -->
        <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
        <script src="/vrinstyle/js/material-kit.js" type="text/javascript"></script>
        {{footer:footer_extra}}

    </body>
</html>