*{
         margin: 0;
         padding: 0;
     }
     #status{
         width: 100%;
         height: 50vh;
         padding: 100px;
         background-color: rgb(255, 255, 255);
         display: flex;
         align-items: center;
         justify-content: center;
         vertical-align: baseline;
     }
     .sm-block{
         height: 300px;
         width: 250px;
         color: #111111;
         text-align: center;
     }